$primary: #5265E1;
$secondary: #FA5959;
$black: #000;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "black": $black,
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.nav-underline .nav-link {
    color: $black;

    &:hover {
        border-color: $secondary;
        font-weight: bold;
    }
}

.nav-underline {
    border-bottom: $secondary;
}
