$primary: #5265E1;
$secondary: #FA5959;
$black: #000;
$gray: #bdc3c7;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "black": $black,
    "gray": $gray
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.speedy-searching,
.easy-searching {
    border-bottom: 2px solid $gray;
    margin-bottom: 10px;

    &:hover {
        .nav-link {
            color: $secondary !important;
        }
    }
}

.bookmarking {
    border-bottom: 4px solid $secondary;
    font-weight: bold;
    margin-bottom: 10px;
}
