$primary: #5265E1;
$secondary: #FA5959;
$white: white;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "white": $white
);


@import "./node_modules/bootstrap/scss/bootstrap.scss";

.container-center {
    margin-top: 20px;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    small {
        font-size: small;
        letter-spacing: 2px;
    }

    h4 {
        width: 300px; 
        margin: 0 auto; 
    }

    .row{
        margin: 0 auto;
    }

    .input-container{
        width: 300px;
    }
}